* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic CSS for background image */

body {
    background-image: url('darling_harbor.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

/* Basic CSS for the navigation bar */

nav {
    background-color: #8a928a81;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar {
    background-color: rgba(0, 0, 0, 0.5);
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Basic CSS for the form elements */
  
  h1 {
    display: block;
    margin-bottom: 0;
  }

  p {
    clear: both;
    margin-top: 5px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 7px 15px;
    background-color: seagreen;
    color: white;
    border: 2px solid;
    cursor: pointer;
    border-radius: 5px; /* Subtle corners */
}

  button.pill {
    border-radius: 20px; /* Fully rounded sides */
  }
  
  button:hover {
    background-color: seagreen;
  }
  
/* General style for all social media icons */
.fa {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
    transition: opacity 0.3s;
    flex-direction: column;
    position: flex;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 9999;
    transition: opacity 0.3s;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-x {
    background: black;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
.fa-youtube {
    background: red;
    color: white;   
}

